<footer class="footer">
  <a class="footer__button" href="#">
    <img src="./assets/images/ico-arrow.svg" />
  </a>
  <div class="footer__container">
    <ul class="footer__container__list">
      <li>articles</li>
      <li>books</li>
      <li>events</li>
      <li>reasons</li>
      <li>tips</li>
    </ul>
  </div>
  <div class="footer__container">
    <ul class="footer__container__list">
      <li>twitter</li>
      <li>instagram</li>
      <li>mastodon.social</li>
    </ul>
  </div>
  <div class="footer__container">
    <p class="footer__copy">&copy;2017</p>
    <p>we<span class="heart">&hearts;</span>components</p>
  </div>
</footer>
