<section class="section-two">
  <h2 class="section-two__title">@@title</h2>
  <partial src="_articles.html" title-article="Ut sed metus" desc-article="Lorem ipsum dolor sit amet, consecteur."></partial>
  <partial src="_articles.html" title-article="Curabitur ac erat" desc-article="Mauris mattis urna quis lorem molestie."></partial>
  <partial src="_articles.html" title-article="Morbi dictum" desc-article="Aliquam in dolor et dolor tincidunt."></partial>
  <a class="section-two__button" href="adalab.com">more reasons</a>
</section>
