.header {
  &__button {
    background: $colorWhite;
    border-radius: 50%;
    height: 45px;
    width: 45px;
  }
}

.footer {
  position: relative;
  &__button {
    background: $colorWhite;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
