.footer {
  background-color: $colorDarkBlue;
  color: $colorWhite;
  @include CenterColumn;
  @include Footer;
  font-size: 1rem;
  padding: 3.75rem 2.5rem 2.813rem;

  &__list {
    // border: red 1px solid;
    padding-bottom: 1.875rem;
  }

  &__copy {
    text-transform: capitalize;
    font-size: 0.875rem;
  }

  &__heart {
    color: $colorBrightOrange;
  }

  @media all and (min-width: 768px) {
    // border: solid 1px red;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    text-align: start;

    &__list {
      order: -2;
    }
  }

  @media all and (min-width: 1200px) {
    justify-content: space-between;
    padding-left: 370px;
    padding-right: 370px;
  }
}
