.footer {
  background-color: $colorDarkBlue;
  @include CenterColumn;
  @include Footer;
  font-size: 16px;
  padding: 45px 40px 45px;

  &__list {
    padding-bottom: 30px;
  }

  &__link {
    color: $colorWhite;
  }

  &__copy {
    color: $colorWhite;
    text-transform: capitalize;
    font-size: 14px;
  }

  &__heart {
    color: $colorBrightOrange;
  }

  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    text-align: start;

    &__container-links {
      order: -1;
    }
  }

  @media all and (min-width: 1200px) {
    justify-content: space-between;
    padding: 0 370px;
  }
}
