.header {
  background: url(../images/cover.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  @include CenterColumn;

  &__title {
    @include mainTitle;
    border: 3px solid red;
    font-size: 2.625rem;
    width: 300px;
    margin: 284px 0 0 0;
  }

  &__text {
    color: $colorWhite;
    font-family: $fontfamilyText;
    font-weight: $fontweightText;
    font-size: 1rem;
    margin: 10px 0 45px 0;
  }

  @media all and (min-width: 768px) {
    // border: 3px solid red;

    &__title {
      font-size: 5rem;
      width: 600px;
    }
    &__text {
      font-size: 1.5rem;
      margin: 20px 0 30px 0;
    }
  }
}
