.section-one {
  padding: 30px 15px;

  &__text--small {
    @include Text;
    color: $colorBlue;
    font-size: 14px;
  }

  &__title {
    @include Title;
    padding-bottom: 15px;
  }

  &__text--big {
    @include bigText;
  }

  @media all and (min-width: 768px) {
    padding: 30px 40px;
  }

  @media all and (min-width: 1200px) {
    padding: 60px 275px;
  }
}

.section-two {
  background-color: $colorIceBlue;
  padding: 30px 60px;
  text-align: $textCenter;
  display: grid;
  grid-template-columns: 1fr;

  &__title {
    @include Title;
    padding-bottom: 45px;
  }

  @media all and (min-width: 768px) {
    padding: 30px 40px;
    grid-template-columns: 1fr 1fr 1fr;

    &__title {
      grid-column: span 3;
    }
    &__container {
      grid-column: span 3;
    }
  }
}

.article {
  padding: 0 14px 45px;
  &__title {
    @include articleTitle;
  }

  &__text {
    @include Text;
    text-align: $textCenter;
  }
}
