.section-one {
  // border: 1px solid blue;
  padding: 1.875rem 0.9375rem;

  &__text--small {
    @include Text;
    color: $colorBlue;
    font-size: 0.875rem;
  }

  &__title {
    @include Title;
    padding-bottom: 0.9375rem;
  }

  &__text--big {
    @include bigText;
    padding-bottom: 1.875rem;
  }

  @media all and (min-width: 768px) {
    padding: 1.875rem 2.5rem;
  }
}

.section-two {
  // border: 1px solid red;
  background-color: $colorIceBlue;
  padding: 1.875rem 3.75rem;
  text-align: $textCenter;
  display: grid;
  grid-template-columns: 1fr;

  &__title {
    @include Title;
    padding-bottom: 2.813rem;
  }

  @media all and (min-width: 768px) {
    padding: 1.875rem 2.5rem;
  }

  @media all and (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;

    &__title {
      grid-column: span 3;
    }
  }
}

.article {
  padding: 0 0.875rem 2.813rem;
  &__title {
    @include articleTitle;
  }

  &__text {
    @include Text;
    text-align: $textCenter;
  }
}
