@mixin CenterColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@mixin mainTitle {
  font-family: $fontfamilyTitle;
  font-weight: $fontweightTitle;
  text-transform: $transformBigTitle;
  color: $colorWhite;
  text-align: $textCenter;
}

@mixin Title {
  font-family: $fontfamilyTitle;
  font-weight: $fontweightTitle;
  line-height: $lineHeight;
  text-align: $textCenter;
}

@mixin Footer {
  font-family: $fontfamilyText;
  font-weight: $fontweightText;
  text-transform: $transformBigTitle;
  color: $colorWhite;
  line-height: $lineHeight;
  text-align: $textCenter;
  font-size: 1rem;
}
