@mixin CenterColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@mixin mainTitle {
  font-family: $fontfamilyTitle;
  font-weight: $fontweightTitle;
  text-transform: $transformTitle;
  color: $colorWhite;
  text-align: $textCenter;
}

@mixin Title {
  font-family: $fontfamilyTitle;
  font-weight: $fontweightTitle;
  line-height: $lineHeight;
  font-size: $fontsizeTitle;
  text-transform: $transformsmallTitle;
}

@mixin Text {
  font-family: $fontfamilyText;
  font-weight: $fontweightText;
  line-height: $lineHeight;
  font-size: $fontsizeText;
}

@mixin bigText {
  color: $colorGrey;
  font-family: $fontfamilyText;
  font-weight: $fontweightText;
  line-height: $lineHeight;
  font-size: $fontsizeText;
  text-transform: $transformsmallTitle;
}

@mixin articleTitle {
  font-family: $fontfamilyTitle;
  font-weight: $fontweightTitle;
  line-height: $lineHeight;
  font-size: $fontsizeText;
}

@mixin Footer {
  color: $colorWhite;
  font-family: $fontfamilyText;
  font-weight: $fontweightText;
  text-transform: $transformTitle;
  line-height: $lineHeight;
  font-size: $fontsizeFooter;
  text-align: $textCenter;
}
