// color
$colorWhite: #ffffff;
$colorBlue: #8ccbea;
$colorCeruleanBlue: #0271bc;
$colorDarkBlue: #304268;
$colorBrightOrange: #f26002;

//Typography
$fontfamilyTitle: "Roboto Slab", "serif";
$fontfamilyText: "Roboto", "sans-serif";
$fontweightTitle: 600;
$fontweightText: 500;

$transformTitle: uppercase;
